<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-fixportal" value="https://nuget.pkg.github.com/FixPortal/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github-fixportal">
      <package pattern="FixPortal.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <github-fixportal>
      <add key="Username" value="USERNAME" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
    </github-fixportal>
  </packageSourceCredentials>
</configuration>
